.myForm {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.ant-form-item-explain{
  color:crimson;
  font-weight: bold;
  font-style: italic;
}

.ant-form-item-label{
  text-align: left;
}

.ant-form-item-label label{
  font-size: large;
}

.myForm .ant-select-selection-search{
  display: none;
}

.ant-select-selector{
  padding: 0.2rem;
}

@media only screen and (max-width: 700px){
  .myForm{
    max-width: 90%;
  }
}