.myForm {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.ant-form-item-label{
  text-align: left;
}

.ant-form-item-label label{
  font-size: large;
}

@media only screen and (max-width: 700px){
  .myForm{
    max-width: 90%;
  }
}