.facil-section{
  width: var(--content-width);
  margin: 0 auto;
}

.facilities {
  width: inherit;
  margin: 0 auto;
  /* max-height: 25rem; */
  overflow-y: scroll;
}

.facilities::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

.facilities::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to top, deeppink 50%, transparent); */
  border-radius: 1rem;
}

.facility:nth-child(odd) {
  background-color: rgb(250, 234, 255);
}

.facility {
  text-align: left;
  padding: 0.5rem;
}

.facility:not(:first-child) {
  border-top: 2px solid salmon;
}

.delete {
  color: red;
}

.update {
  color: rgb(177, 129, 10);
}

.ant-list-item-action-split{
  background-color: black;
}

.filters{
  display: flex;
  width: var(--content-width);
  gap: 0.5rem;
}

.id {
  background-color: rgb(15, 221, 211);
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

.ant-select-selection-search{
  display: none;
}

.facil-section {
  display: flex;
    flex-direction: column;
  margin: 0 auto;
  width: 95%;
  align-items: center;
}
/* 
@media only screen and (max-width: 800px) {
  .facil-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
} */
