.home{
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  margin-left: var(--navbar-width);
  padding-left: 1rem;
  gap: 1rem;
}

.facilities-data {
  width: 100%;
  grid-column: span 4 / 5;
}

.add-facility{
  grid-row: 1;
  grid-column: span 1 / 2;
}

.search{
  grid-row: 1;
  grid-column: span 1 / 5;
}

.facilities-data::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

.facilities-data::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(--navbar-color) 50%, transparent);
  border-radius: 1rem;
}

.facility {
  text-align: left;
}

.facility:nth-child(odd) {
  background-color: rgb(252, 238, 252);
}

.ant-select-selector, .ant-select-dropdown *{
  text-align: left;
}

.filters{
  grid-row: 2;
  grid-column: span 4 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 1rem;
}

.id {
  background-color: rgb(15, 221, 211);
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  color: var(--navbar-color);
}