:root{
  --content-width: 80% ;
  --back-color: rgb(255, 221, 255);
  --heading: rgb(167, 4, 167);
  --link-color: dodgerblue;
  --hover-color: deeppink;
  --navbar-color: rgb(43, 5, 73);
  --navbar-width: 10rem;
  font-size: 20px;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.heading{
  color: var(--heading);
  font-style: italic;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--back-color) !important;
  padding-top: 1rem;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  height: 100%;
  margin-left: var(--navbar-width);
}

@media only screen and (max-width: 500px) {
  :root{
    font-size: 2px;
    --content-width: 95%
  }
}

@media only screen and (max-width: 700px) {
  :root{
    font-size: 15px;
    --content-width: 95%
  }
}

@media only screen and (max-width: 2000px) {
  :root{
    font-size: 25px;
  }
}